<?xml version="1.0"?>
<config>
    <modules>
        <Biassi_GitVersion>
            <version>1.0.0</version>
        </Biassi_GitVersion>
    </modules>	
    <global>
        <blocks>
            <biassi_gitversion>
                <class>Biassi_GitVersion_Block</class>
            </biassi_gitversion>
        </blocks>
        <helpers>
            <biassi_gitversion>
                <class>Biassi_GitVersion_Helper</class>
            </biassi_gitversion>
        </helpers>
        <models>
            <biassi_gitversion>
                <class>Biassi_GitVersion_Model</class>
            </biassi_gitversion>
        </models>
    </global>    
    <adminhtml>
        <layout>
            <updates>
                <biassi_gitversion>
                    <file>biassi/gitversion.xml</file>
                </biassi_gitversion>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <biassi_gitversion>
        	<app>
	            <server1>
	            	<label>PROD</label>
	            	<ip>52.200.18.72</ip>
	            </server1>
                <server2>
                    <label>UAT</label>
                    <ip>uat-soubarato.recomprafacil.com.br</ip>
                </server2>
	        </app>
        </biassi_gitversion>
    </default>        
</config>